@font-face{
    src: url('./assets/fonts/Karla-Bold.ttf');
    font-family: 'bold';
};
@font-face{
    font-family: 'bold-italic';
    src: url('./assets/fonts/Karla-BoldItalic.ttf');
}
@font-face{
    font-family: 'italic';
    src: url('./assets/fonts/Karla-Italic.ttf');
}
@font-face{
    font-family: 'perpetua';
    src: url('./assets/fonts/Perpetua.ttf');
}
@font-face {
    font-family: 'reguler';
    src: url("./assets/fonts/Karla-Regular.ttf");
}
@font-face {
    font-family: 'moderat-black';
    src: url("./assets/fonts/Moderat-Black.ttf");
}
@font-face {
    font-family: 'inter-black';
    src: url("./assets/fonts/Inter-Black.ttf");
}
$font-bold: 'bold';
$font-inter-bold: 'inter-black';
$font-moderat-bold: 'moderat-black';
$font-reguler: 'reguler';
$font-bold-italic: 'bold-italic';
$font-italic: 'italic';
$font-perpetua: 'perpetua';

$background: #fafaf6;
$primary: #151515;
$secondary: #0779e4;
$red: #E83C38;
$green: #00A19A;
$soft: #A6D1C9;
$pink: #F4C4C4;
$bg: #1b2021;
$grey: #a6a9b6;
$bg-grey: #dddddd;
$yellow: #ffb037;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800&display=swap');
html,body,*{
    padding: 0;
    margin: 0;
}
#app.theme-dark{
    background: $primary;
    color: $background;
    a,.logout{
        color: $grey;
        text-decoration: none;
        cursor: pointer;
        span{
            font-size: 16px;
            font-family: $font-moderat-bold;
        }
    }
    a.active{
        color: $secondary;
    }
    .lay{
        background: $bg;
    }
    .navigasi{
        box-shadow: 0 0 5px rgba(27, 27, 27, 0.75);
    }
    .bg{
        padding: 15px;
        border-radius: 8px;
        background: $primary;
    }
    .tables{
        table{
            width: 100%;
            font-size: 12px;
            border-collapse: collapse;
            thead th{
                color: $background;
                background: $secondary;
                font-family: $font-bold;
                padding: 8px;
            }
            tr td{
                padding: 8px;
                background: $primary;
                cursor: pointer;
                font-family: $font-reguler;
            }
            .unactive{
                color: $red;
                font-family: $font-bold;
            }
        }
    }
    h1{
        font-family: $font-moderat-bold;
        font-size: 25px;
    }
    .navigasiin{
        top: 0;
        bottom: 0;
        background-color: #151515;
    }
    .userview, .cabangdrawer, .gudangdrawer, .mitradrawer, .hotel, .umrahdrawer{
        background: $primary;
    }
}

#app.theme-light{
    background: $background;
    color: $primary;
    a,.logout{
        color: $grey;
        cursor: pointer;
        text-decoration: none;
        span{
            font-size: 12px;
            font-weight: 800;
            font-family: 'Montserrat', sans-serif;
        }
    }
    a.active{
        color: $secondary;
    }
    .lay{
        background:$bg-grey;
    }
    .navigasiin{
        box-shadow: 0 0 20px rgba(224, 224, 224, 0.75);
    }
    .bg{
        padding: 15px;
        border-radius: 8px;
        background: white;
    }
    .tables{
        table{
            width: 100%;
            font-size: 12px;
            border-collapse: collapse;
            thead th{
                color: $background;
                font-family: $font-bold;
                padding: 8px;
                background: $secondary;
            }
            tr td{
                padding: 8px;
                background: whitesmoke;
                cursor: pointer;
                font-family: $font-reguler;
            }
            .unactive{
                color: $red;
                font-family: $font-bold;
            }
        }
    }
    h1{
        font-family: $font-moderat-bold;
        font-size: 25px;
    }
    .navigasiin{
        top: 0;
        bottom: 0;
        background-color: $background;
    }
    .userview, .cabangdrawer, .gudangdrawer, .mitradrawer, .hotel, .umrahdrawer{
        background: $background;
    }
}

label,p{
    font-size: 11px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.bgs{
    border-radius: 8px;
    h6{
        font-size: 15px;
        font-family: $font-moderat-bold;
    }
    span{
        line-height: 10px;
        font-size: 12px;
    }
}
.btn-success{
    background: $green;
    color: $background;
    border-radius: 8px;
    border-width: 0px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
        margin: auto;
        font-family: $font-bold;
        font-size: 15px;
    }
}
.btn-warning{
    background: $yellow;
    border-radius: 8px;
    border-width: 0px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $background;
    text-align: center;
    margin: auto;
    p{
        font-family: $font-bold;
        font-size: 15px;
    }
}
.btn-failure{
    background: $red;
    color: $background;
    border-radius: 8px;
    border-width: 0px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
        margin: auto;
        font-family: $font-bold;
        font-size: 15px;
    }
}
.btn-submit{
    background: $secondary;
    border-radius: 8px;
    border-width: 0px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    color: $background !important;
    font-family: $font-bold;
    font-size: 15px;
}

@media (max-width: 700px){
    table thead{
        display: none;
    }
    table tbody,table tr,table td, table{
        display: block;
        width: 100%;
    }
    table td{
        text-align: right !important;
        padding-left: 50%;
        position: relative;
    }
    table td::before{
        content: attr(data-label);
        font-family: $font-moderat-bold;
        position: absolute;
        text-align: left;
        left: 0;
        width: 50%;
        padding-left: 15px;
    }
    .navigasiin{
        box-shadow: 0 0 0 transparent !important;
    }
    .views{
        max-height: auto;
        height: auto !important;
    }
}